<div class="admin-title">
    <h1>Bonjour {{username}} </h1>
</div>

<div class="users-manage">
    <h2>Liste utilisateurs</h2>
    <table class="users-table">
        <thead>
            <tr>
                <th scope="col">Nom d'utilisateur</th>
                <th scope="col">Email</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row"> {{username}} </th>
                <td> {{email}} </td>
                <td>
                    <button><a href="">Modifier</a></button>
                </td>
                <td>
                    <form action="" method="post">
                        <button type="submit"><a href="">Supprimer</a></button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

</div>