<h1>Coucou genre create</h1>

<form action="/genre/create" method="post">
    <div class="create-container">
        <label for="genreName">Créer un nouveau genre</label>
        <input type="text" name="genre_name" id="genre_name">
        <button>Envoyer</button>
    </div>
</form>