<div class="intro-pannel">
    <div class="intro-pic">
        <img src="/pictures/logo145.webp" alt="">
    </div>
    <div class="intro-txt">
        <h1>KADAVRESKY</h1>
        {{!-- <p>Plongez dans un monde où l'imagination n'a pas de limites et où chaque contribution crée une nouvelle
            aventure. Inspiré par le célèbre jeu du "cadavre exquis", notre site vous invite à participer à la création
            collaborative d'histoires fascinantes.
            <br>
            Comment ça marche ? C'est simple. Un utilisateur commence une histoire en écrivant un paragraphe, puis les
            autres utilisateurs poursuivent en ajoutant leur propre paragraphe. Le résultat final ? Une œuvre littéraire
            unique, tissée par la créativité collective de la communauté.
            <br>
            Que vous soyez un écrivain aguerri ou un amateur passionné, vous trouverez ici un espace pour exprimer votre
            créativité et découvrir les idées des autres. Rejoignez-nous dans cette aventure littéraire où chaque
            contribution compte et où chaque histoire est une surprise.
            <br>
            Prêt à plonger dans l'univers du cadavre exquis ? Commencez dès maintenant à écrire ou explorez les
            histoires déjà créées par nos membres. Laissez-vous emporter par l'imagination et préparez-vous à vivre des
            récits uniques et captivants.
            <br>
            Rejoignez-nous et laissez votre plume guider le voyage !

        </p> --}}
        <h2>Découvrez l'art de l'écriture collaborative, où chaque contribution façonne une histoire unique</h2>
        <a href="/story/create" class="home-link">Commencer !</a>
    </div>
</div>

<div class="read-pannel">
    <div class="col-1">
        <h2>Des cadavres dans le placard</h2>
        <h3>Découvrez les histoires écrites par les autres utilisateurs</h3>
    </div>
    <div class="col-2">
        <img src="/pictures/logo145.webp" alt="">
        <a href="/story/list" class="home-link">Lire</a>
    </div>
</div>