<div class="page-title">
    <h1>Des cadavres dans le placard</h1>
</div>

<div class="list-pannel">
    <div class="filter-pannel">
        <h2>Filtrer par :</h2>
        <div class="filter-inputs">
            <div class="genre-filter">
                <label for="genre">Genre</label>
                <select name="Genre" id="genre">
                    <option value="policier">Policier</option>
                    <option value="sciFi">Science-fiction</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="free">Thème libre</option>
                </select>
            </div>
            <div class="author-filter">
                <label for="author">Auteur</label>
                <input type="text" id="author">
            </div>
            <div class="title-filter">
                <label for="articleTitle">Titre</label>
                <input type="text" id="articleTitle">
            </div>
        </div>
    </div>

    <div class="articles-pannel">
        {{#each stories}}
        <div class="article-title">
            <h3> {{title}} </h5>
        </div>
        <div class="article-sample">
            <div class="col-1">
                <div class="article-cover">
                    <img src="/pictures/logo145.webp" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="article-resume">
                    <h4>Incipit</h4>
                    <p> {{content}} </p>
                </div>
                <div class="article-infos">
                    <p>Genre</p>
                    <p>Auteur</p>
                    <p>En cours</p>
                    <button><a href="/story/read/{{id}}">Lire</a></button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>