<div class="page-title">
    <h1>Titre article</h1>
</div>

<div class="story-read">
    <div class="story-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, eius nulla similique officia et maxime
            veritatis ea minima odio omnis quis temporibus. Quaerat quae harum obcaecati est placeat, ea autem nihil
            asperiores dignissimos? Eius quo nisi facilis quia asperiores, consequuntur culpa ad facere cumque molestias
            omnis labore optio vero sed veniam doloribus nobis quam? Omnis placeat aliquid, cumque eaque nam iure
            quaerat
            temporibus necessitatibus nisi quibusdam quidem reiciendis? Eveniet rem assumenda repudiandae obcaecati quo
            distinctio molestiae vero officiis doloribus provident dolorem tempore expedita inventore molestias porro,
            cum
            adipisci consectetur qui aperiam ducimus minima, non vel id deserunt? Totam, neque error?</p>
    </div>
    <div class="story-input">
        <button>Ajouter un chapitre</button>
    </div>
</div>