<div class="page-title">
    <h1>Rédiger une histoire</h1>
</div>
{{#if logError}}
<p>
    {{logError}}
</p>    
{{/if}}

<form action="/story/create" method="post" onsubmit="StoryCheck()">
    <div class="story-attributes">
        <div class="article-title">
            <input type="text" id="title" name="title" placeholder="TITRE" class="input-title">
        </div>
        {{#if error}}
        <p> {{error}} </p>
        {{/if}}

        <div class="article-genre">
            <label for="genreId">Genre</label>
            <select name="genreId" id="genreId">
                {{#each genres}}
                <option value="{{id}}"> {{genre_name}} </option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="article-content">
        <textarea name="articleContent" id="articleContent" cols="200" rows="30"></textarea>
    </div>

    <div class="send-button">
        <button type="submit">Enregistrer</button>
    </div>
</form>

<script src="/js/storyCreate_check.js"></script>