<div class="row">
    <h1 class="text-center">S'inscrire</h1>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <form action="/user/register" method="post" onsubmit="return RegisterCheck()">

                <div class="form-group mb-3" id="user-container">
                    <label for="username" class="form-label">Nom d'utilisateur</label>
                    <input name="username" type="text" class="form-control" id="username">
                </div>
                <div class="form-group mb-3" id="mail-container">
                    <label for="email" class="form-label">Adresse email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="form-group mb-3" id="password-container">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group mb-3" id="confPass-container">
                    <label for="confPass" class="form-label">Confirmer Mot de passe</label>
                    <input type="password" class="form-control" id="confPass" name="confPass">
                </div>
                <div class="form-group mb-3 form-check" id="check-container">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">En cochant cette cage, vous acceptez nos
                        <a href="">conditions d'utilisation</a> ainsi que notre <a href="">politique de confidentialité</a></label>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>

</div>

<script src="/js/register_check.js"></script>

{{!--
<div class="container-fluid">
    <form action="/user/register" method="post" class="register-form" onsubmit="">
        <div class="username">
            <label for="username">Nom d'utilisateur</label>
            <input name="username" type="text" id="username" placeholder="Entrez un nom d'utilisateur">
        </div>
        <div class="email">
            <label for="email">Adresse email</label>
            <input name="email" type="text" id="email" placeholder="Entrez une adresse email">
        </div>
        <div class="password">
            <label for="password">Mot de passe</label>
            <input name="password" type="text" id="password" placeholder="Entrez un mot de passe">
        </div>
        <div class="confPass">
            <label for="confPass">Confirmer le mot de passe</label>
            <input name="confPass" type="text" id="confPass" placeholder="Confirmez votre mot de passe">
        </div>
        <p>En vous inscrivant, vous acceptez notre politique de confidentialité</p>
        <button type="submit">S'inscrire</button>
    </form>
</div> --}}