<div class="log-container">
<h1 class="log-title">Connexion</h1>
</div>

<form action="/user/log" method="post" class="log-form">
    <div class="username">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" name="username" id="username" placeholder="Entrez votre nom d'utilisateur">
    </div>
    <div class="log-password">
        <label for="password">Mot de passe</label>
        <input type="text" name="password" id="password" placeholder="Entrez votre mot de passe">
    </div>
    <button type="submit">Se connecter</button>
</form>