<div class="container-fluid">
    <h1>Modifier mes informations personnelles</h1>

    <form action="/user/update/{{user.id}}" method="post">
        <div class="row mb-3 align-items-center">
            <label for="username" class="col-md-auto">Nom d'utilisateur :</label>
            <div class="col-md">
                <input class="form-control" style="width: 200px;" name="username" type="text" id="username"
                    value="{{user.username}}">
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label for="email" class="col-md-auto">Email :</label>
            <div class="col-md">
                <input class="form-control" style="width: 200px;" type="text" name="email" id="email"
                    value="{{user.email}}">
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Modifier</button>
    </form>

</div>