<div class="user-title">
    <h1>Bonjour User</h1>
</div>

<div class="storyCreate-pannel">
    <h2>Créer une histoire</h2>
    <button>Ecrire</button>
</div>

<div class="storyList-pannel">
    <h2>Historique</h2>
    <div class="articles-pannel">
        <div class="article-title">
            <h3>Titre</h5>
        </div>
        <div class="article-sample">
            <div class="col-1">
                <div class="article-cover">
                    <img src="/pictures/logo145.webp" alt="">
                </div>
            </div>
            <div class="col-2">
                <div class="article-resume">
                    <h4>Incipit</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad doloribus assumenda eveniet, at
                        fugit
                        unde cum quaerat iusto vitae odit.</p>
                </div>
                <div class="article-infos">
                    <p>Genre</p>
                    <p>Auteur</p>
                    <p>En cours</p>
                    <button><a href="/story/read">Lire</a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="perso">
        <h2>Mes informations</h2>
        <div class="ac-username">
            <p>Nom d'utilisateur :</p>
            <p>Username</p>
            <button><a href="">Modifier</a></button>
        </div>
        <div class="ac-password">
            <p>Mot de passe :</p>
            <p>Mot de passe caché</p>
            <button><a href="">Modifier</a></button>
        </div>
        <div class="ac-email">
            <p>Email :</p>
            <p>Email</p>
            <button><a href="">Modifier</a></button>
        </div>
    </div>
</div>