<h1 class="page-title">Créer un compte</h1>

<form action="" class="register-form" onsubmit="RegisterCheck()">
    <div class="re-username">
        <label for="re-username">Nom d'utilisateur</label>
        <input type="text" id="re-username" placeholder="Entrez un nom d'utilisateur">
    </div>
    <div class="re-email">
        <label for="re-email">Adresse email</label>
        <input type="text" id="re-email" placeholder="Entrez une adresse email">
    </div>
    <div class="re-password">
        <label for="re-password">Mot de passe</label>
        <input type="text" id="re-password" placeholder="Entrez un mot de passe">
    </div>
    <div class="re-confPass">
        <label for="re-confPass">Confirmer le mot de passe</label>
        <input type="text" id="re-confPass" placeholder="Confirmez votre mot de passe">
    </div>
    <button type="submit">S'inscrire</button>
</form>
<script src="/js/register_check.js"></script>