<h1 class="page-title">Créer un compte</h1>

<form action="/user/register" method="post" class="register-form" onsubmit="return RegisterCheck()">
    <div class="username">
        <label for="username">Nom d'utilisateur</label>
        <input name="username" type="text" id="username" placeholder="Entrez un nom d'utilisateur">
    </div>
    <div class="email">
        <label for="email">Adresse email</label>
        <input name="email" type="text" id="email" placeholder="Entrez une adresse email">
    </div>
    <div class="password">
        <label for="password">Mot de passe</label>
        <input name="password" type="text" id="password" placeholder="Entrez un mot de passe">
    </div>
    <div class="confPass">
        <label for="confPass">Confirmer le mot de passe</label>
        <input name="confPass" type="text" id="confPass" placeholder="Confirmez votre mot de passe">
    </div>
    <p>En vous inscrivant, vous acceptez notre politique de confidentialité</p>
    <button type="submit">S'inscrire</button>

</form>
<script src="/js/register_check.js"></script>