<div class="log-container">
<h1 class="log-title">Connexion</h1>
</div>

<form action="" class="log-form">
    <div class="log-username">
        <label for="log-username">Nom d'utilisateur</label>
        <input type="text" name="log-username" id="log-username" placeholder="Entrez votre nom d'utilisateur">
    </div>
    <div class="log-password">
        <label for="log-password">Mot de passe</label>
        <input type="text" name="log-password" id="log-password" placeholder="Entrez votre mot de passe">
    </div>
    <button><a href="/user/account">Se connecter</a></button>
    <button><a href="/user/admin">Admin</a></button>
</form>