/*************************************** General ********************************************************/
body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    background-color: #F9F9F9;
}

h1 {
    font-family: "Federo", sans-serif;
}
/******************************************* Navbar **********************************************************/
nav {
    display: flex;
    justify-content: space-between;
    background-color: #F6F6F6;
    color: #F9F6F2;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 50px;
    cursor: pointer;
}

.logo-title {
    font-family: "Federo", sans-serif;
    margin: 5px;
}

.links-container {
    display: flex;
    align-items: center;
}

.links-container a {
    text-decoration: none;
    color: black;
    background-color: #F9F6F2;
    /* border: 1px solid black; */
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.links-container a:hover {
    text-decoration: underline;
}

/******************************************* Story List *********************************************************************/
.list-pannel {
    display: flex;
}

.article-sample {
    display: flex;
}

.article-infos {
    display: flex;
}

.article-infos p {
    margin: 10px;
}

/************************************************* User log ***************************************************************/
.log-title {
    display: flex;
    justify-content: center;
    /* background-color: #363636;
    color: #F9F6F2; */
}

.log-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username {
    margin: 10px;
}

.password {
    margin: 10px;
}

/****************************************************** User Register ****************************************************/
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form div {
    margin: 10px;
}

.register-form button {
    margin: 10px;
}

/****************************************************** User-account ****************************************************/
.perso .ac-username {
    display: flex;
}

.perso .ac-password {
    display: flex;
}

.perso .ac-email {
    display: flex;
}